<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Mage_Lite>
      <version>0.1.0</version>
    </Mage_Lite>
  </modules>

  <global>

    <helpers>
      <!-- satisfy usage of legacy helpers in various places -->
      <catalog><rewrite><data>Mage_Lite_Helper_Catalog_Data</data></rewrite></catalog>
      <catalogrule><rewrite><data>Mage_Core_Helper_Data</data></rewrite></catalogrule>
    </helpers>

    <resources>
      <magelite_setup>
        <setup>
          <module>Mage_Lite</module>
        </setup>
      </magelite_setup>
    </resources>
    
  </global>

  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <magelite before="Mage_Adminhtml">Mage_Lite</magelite>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>

  <adminhtml>
    <events>
      <controller_action_predispatch>
        <observers>
          <adminnotification>
            <type>disabled</type>
          </adminnotification>
        </observers>
      </controller_action_predispatch>
    </events>
    <global_search>
      <products>
        <class><![CDATA[0]]></class>
        <acl>catalog</acl>
      </products>
      <customers>
        <class><![CDATA[0]]></class>
        <acl>customer</acl>
      </customers>
      <sales>
        <class><![CDATA[0]]></class>
        <acl>sales</acl>
      </sales>
    </global_search>
    <layout>
      <updates>
        <magelite module="Mage_Lite">
          <file>magelite.xml</file>
        </magelite>
      </updates>
    </layout>
  </adminhtml>

  <!-- set default admin theme to make some overrides -->
  <stores>
    <admin>
      <design>
       <theme>
          <default>magelite</default>
        </theme>
      </design>
    </admin>
  </stores>
</config>
